<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{{ url_for('static', filename='utils.js') }}"></script>
		<script src="{{ url_for('static', filename='calendar.js') }}"></script>
		<title>Admin</title>
		<style>
			table, th, td {
				border: 1px solid black;
			}
			.grid {
				display: grid;
				grid-template-columns: auto auto auto;
			}
			.first {
				grid-column: 1;
			}
			.second {
				grid-column: 2;
			}
		</style>
	</head>
	<body x-data="{ editing: false }">
		<p id="popup" class="popup"></p>
		<h1>Oppilaat</h1>
		<table id="table">
			<tr>
				<th>ID</th>
				<th>RFID_ID</th>
				<th>Nimi</th>
				<th>Tila</th>
				<th>Luotu</th>
				<th>Aloitus päivä</th>
				<th>Lopetus päivä</th>
				<th>Päivän alku</th>
				<th>Päivän loppu</th>
				<th>Töitä tehty</th>
				<th>Weekmask</th>
				<th>Vapaa päivät</th>
				<th>Toiminnot</th>
			</tr>
			<template x-for="student in $store.info.students">
				<tr>
					<td x-text="student.id"></td>
					<td x-text="student.rfid_id"></td>
					<td x-text="student.name"></td>
					<td x-text="student.status"></td>					
					<td x-text="student.created_at"></td>
					<td x-text="student.start_date"></td>
					<td x-text="student.end_date"></td>
					<td x-text="student.start_time"></td>
					<td x-text="student.end_time"></td>
					<td x-text="secondsToHuman(student.done_seconds)"></td>
					<td x-text="student.weekmask"></td>
					<td x-text="student.excluded_days"></td>
					<td>
						<button x-on:click="editStudent(student)">
							Muokkaa
						</button>
						<button x-on:click="deleteStudent(student)">
							Poista
						</button>
					</td>
				</tr>
			</template>
		</table>
		<div class="grid">
			<div class="first">
				<h2>Add student</h2>
				<form id="add">
					<label for="name">Nimi</label><br>
					<input type="text" x-model="$store.add.name"><br>
					<label for="rfid_id">RFID_ID</label><br>
					<input type="text" x-model="$store.add.rfid_id" disabled><br>
					<button type="submit">Luo</button>
				</form>
				<h2>Global calendar</h2>
				<calendar-component id="gcalendar"></calendar-component>
				<button id="addholidays">Add holidays</button>
				<button id="setworkdays">Set workdays</button>
			</div>
			<div class="second" x-show="$store.edit.editing">
				<h2>Edit student</h2>
				<form id="edit">
					<label for="id">id</label><br>
					<input type="text" id="id" disabled
						   x-model="$store.edit.student.id"><br>
					<label for="rfid_id">RFID_ID</label><br>
					<input type="text" id="rfid_id" disabled
						   x-model="$store.edit.student.rfid_id"><br>
					<label for="name">name</label><br>
					<input type="text" id="name"
						   x-model="$store.edit.student.name"><br>			
					<label for="status">status</label><br>
					<select id="status"
							x-model="$store.edit.student.status">
						<option value="OUT">IN</option>
						<option value="IN">OUT</option>
					</select><br>
					<label for="createdat">created_at</label><br>
					<input type="text" id="createdat" disabled
						   x-model="$store.edit.student.created_at"><br>
					<label for="starttime">start_time</label><br>
					<input type="time" id="starttime"
						   x-model="$store.edit.student.start_time"><br>
					<label for="endtime">end_time</label><br>
					<input type="time" id="endtime"
						   x-model="$store.edit.student.end_time"><br>
					<label for="doneseconds">done_seconds</label><br>
					<input type="text" id="doneseconds"
						   x-model="$store.edit.student.done_seconds"><br>
					<label for="weekmask">weekmask</label><br>
					<input type="text" id="weekmask" pattern='[0,1]{7}'
						   x-model="$store.edit.student.weekmask"><br>
					<button type="submit">Muokkaa</button>
				</form>
				<h2>Student calendar</h2>
				<calendar-component id="calendar"></calendar-component>
			</div>
		</div>
	</body>
	<script type="module">
		import { io } from "https://cdn.socket.io/4.8.3/socket.io.esm.min.js";
		import Alpine from "/static/alpine.js";
		
		const socket = io();
		window.Alpine = Alpine;
		
        async function getStudents() {
			try {
				const response = await fetch("/api/students");
				if (!response.ok) {
					throw new Error("Jotain meni pieleen: " + response.status)
				}
				Alpine.store('info', {
					students: await response.json()
				});
			} catch (e) {
				console.error(e.message)
			} finally {
				studentTimer = setTimeout(() => {getStudents()}, 60 * 1000)
			}
        }
        await getStudents();

		Alpine.store('add', {
			rfid_id: "None",
			name: "Jaakko pekka"
		});
		Alpine.store('edit', {
			student: null,
			editing: false
		});

		socket.on('new_scan', (data) => {
			const rfid_id = data.rfid_id;
			const in_database = data.found;
			if (in_database) {				
				const name = data.name;
				popup(`${rfid_id} on jo tietokannassa nimellä ${name}`);
			} else {
				Alpine.store('add').rfid_id = rfid_id;
				popup(`RFID_ID: ${rfid_id} skannattu! `);
			}
		});

		socket.on('new_student', (data) => {
			popup(`RFID_ID: ${data.rfid_id} lisätty pöytään nimellä ${data.name}`);
			Alpine.store('info').students.push(data);
		});

		socket.on('update_student', (data) => {
 			const index = Alpine.store('info').students.findIndex((student) => student.id == data.id);
			Alpine.store('info').students[index] = data;
			popup(`Päivitetty oppilas: ${data.name}`);
		});

		socket.on('remove_student', (data) => {
			Alpine.store('info').students =
				Alpine.store('info').students.filter((student) => student.id != data.id);
			popup(`Poistettu oppilas: ${data.name}`);
		});

		socket.on('update_all', (data) => {
			Alpine.store('info').students = data;
			popup(`Päivitetty oppilaat`);
		});
		
		const addForm = document.getElementById('add');
		addForm.addEventListener('submit', (event) => {
			event.preventDefault();
			const name = Alpine.store('add').name;
			const rfid_id = Alpine.store('add').rfid_id;
			socket.emit("add_student", {name : name, rfid_id : rfid_id});
			return false;
		});

		// Global calendar
		document.getElementById("setworkdays").addEventListener('click', (event) => {
			event.preventDefault();
			const start = jsDateToSQL(document.getElementById("gcalendar").startDate,
									  "08:00");
			const end = jsDateToSQL(document.getElementById("gcalendar").endDate,
									"16:00");
			socket.emit("set_workdays", {start : start, end : end});
			return false;
		});
		document.getElementById("addholidays").addEventListener('click', (event) => {
			event.preventDefault();
			const holidays = document.getElementById("gcalendar").holidays;
			socket.emit("add_holidays", {holidays : holidays});
			return false;
		});
		
		function jsDateToSQL(jsdate, time) {
			return `${jsdate.split("-").reverse().map(Calendar.pad).join(".")} ${time}:00`;
		}
		function SQLDateToJs(sqldate) {
			return (sqldate.split(" ")[0]).split(" ")[0].split(".").reverse().map(Calendar.pad).join("-");
		}

		window.editStudent = (student) => {
			Alpine.store('edit').student = student;
			Alpine.store('edit').editing = true;

			const calendar = document.getElementById("calendar");
			calendar.year = (new Date()).getFullYear();
			calendar.month = (new Date()).getMonth() + 1;
			calendar.startDate = SQLDateToJs(student.start_date);
			calendar.endDate = SQLDateToJs(student.end_date);
			calendar.weekmask = student.weekmask;
			calendar.holidays = JSON.parse(student.excluded_days);
		}
		window.deleteStudent = (student) => {
			socket.emit("delete_student", {id : student.id});
		}

		const editForm = document.getElementById('edit');
		editForm.addEventListener('submit', (event) => {
			event.preventDefault();
			const new_student = Alpine.store('edit').student;
			const dates = { start_date : jsDateToSQL(document.getElementById("calendar").startDate,
													 new_student.start_time),
							end_date : jsDateToSQL(document.getElementById("calendar").endDate,
												   new_student.end_time),
							excluded_days : JSON.stringify(document.getElementById("calendar").holidays)
						  };
			Object.assign(new_student, dates);
			socket.emit("edit_student", new_student);
			return false;
		});
		
		Alpine.start();
	</script>
</html>
