<h2>Students</h2>
{% for student in students %}
    {{ student.id }}
    {{ student.rfid_id }}
    {{ student.name }}
    {{ student.status }}
{% endfor %}

<h2>Scans</h2>
{% for scan in scans %}
    {{ scan.rfid_id }}
    {{ scan.name }}
{% endfor %}

<script type="module">
    import { io } from "https://cdn.socket.io/4.8.3/socket.io.esm.min.js";

    const socket = io();
    socket.on('connect', function() {
        socket.emit('test', {data: 'connected!!!!'});
    });
    
    socket.on('new_scan', (data) => {
        console.log("mirri", data)
    })
</script>
